.banner{
    position: relative;
    display: flex;
    justify-content: center;
    margin:20px
 }
 .banner_img{
     border-radius: 25px;
     object-fit: cover;
     object-position: center;
     width: 100%;
     min-width: 335px;
     max-width: 1240px;
     max-height: 223px;
     min-height: 111px;
     filter: brightness(70%);
 }
 .banner_text{
     color: white;
     position: absolute;
     top: 40%;
     font-size: 48px
 }
 .text_break{
    font-size: 48px;
    color: white;
 }
 @media all and (max-width:768px){
 .banner_img{
    border-radius: 10px;
 }
 .banner{
    margin-bottom: 0;
 }
 .banner_text{
    font-size: 24px;
    top:30%
 }
 .text_break{
    display: flex;
    font-size: 24px;
 }
}
@media all and (min-width:769px) and (max-width:1240px){
    .banner_text,.text_break{
        font-size: 4vw;
     }
}