@import "../abstracts/variables.scss";

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer{
    background-color: #000000;
    max-width: 1440px;
    width: 100%;
    @include flex_center;
    height: 210px;
}

.footer_text{
    color: white;
    text-align: center;
}

.footer_logo{
    max-width: 122px;
    width: 100%;
    margin:2%;
}