@import "../abstracts/variables.scss";
.container_header{
    max-width: 1240px;
    width: 100%;
    margin: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    max-width: 210px;
    max-height: 68px;
    width: 100%;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav_li{
    list-style: none;
    color:$primary_color;
    white-space: nowrap;
    margin-left: 50px;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color:$primary_color
    }
}
@media all and (max-width:1240px){
.header{
    margin-left: 20px;
    margin-right: 20px;
}

}
@media all and (max-width:768px){
    .container_header{
        margin-top:20px;
        margin-bottom: 0;
    }
.nav_li{
    margin-left: 20px;
}
.logo{
    width: 145px;
    height: 47px;
}

}