@import "../abstracts/variables.scss";
.container_header{
    max-width: 1240px;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.logo{
    max-width: 210px;
    max-height: 68px;
    min-width: 145px;
    min-height: 47px;
    width: 40%;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.nav ul{
    display: flex;
}
.nav_li{
    list-style: none;
    color:$primary_color;
    white-space: nowrap;
    margin-left: 50px;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color:$primary_color
    }
}