@import "../abstracts/variables.scss";
.logement{
    max-width: 1240px;
    width: 100%;
    margin-top: 20px;
}
.cover{
    overflow: hidden;
    object-fit: cover;
    max-height:415px;
    width: 100%;
}
.bloc{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.bloc_description_equipement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bloc_description,.bloc_equipement{
    width: 45%;
}
.description{
    margin: 20px;
    @include font-weight-light
}

.collapsible{
border-radius: 10px;
}
.toggle{
    border-radius: 10px;
}
.equipement{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0;
    @include font-weight-light
}
.list{
    list-style: none;
}

.bloc_info{
    display: flex;
    flex-direction: column;
}
.tag{
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    padding: 10px;
    min-width: 84px;
}
.proprietaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proprietaire_info{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.photo_profile{
    border-radius: 50%;
    min-width: 32px;
    max-height: 32px;
    max-width: 64px;
    max-height: 64px;
    margin-left: 10px;
    width: 100%;
}
.proprietaire_nom{
    display: flex;
    text-align: right;
    width: 40%;
}
.title_logement{
    font-size: 1.8em;
    margin: 0;
}
.location{
    margin: 10px 0 10px 0;
    font-weight: bold;
}

@media all and (max-width:768px){
.proprietaire{
    flex-direction: row-reverse;
    justify-content: space-between;
}
.bloc{
    flex-direction: column;
}
.bloc_description_equipement{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloc_description, .bloc_equipement{
    width: 100%;
}
}
@media all and (max-width:1240px){
.bloc,.bloc_description_equipement,.img_container{
    margin: 20px;
}
.logement{
    margin-top: 0;
}

}