@import "../abstracts/variables.scss";

.wrapper_not_found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
}
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
}
.not_found_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  font-size: 15vw;
  margin-top: 10%;
  margin-bottom: 0;
}
.oups {
  text-align: center;
  font-size: 36px;
}
.retour {
  text-align: center;
  text-decoration: underline;
  margin: 10%;
}
@media all and (max-width: 1024px) {
    .oups{
        font-size: 28px;
    }
}
@media all and (max-width: 768px) {
    .not_found_text {
      font-size: 96px;
    }
    .oups{
        font-size: 18px;
    }
  
  }