@import "../abstracts/variables.scss";

.text{
    margin:20px;
    @include font-weight-light
}
.propos{
  max-width: 1240px;
  margin: 20px;
}
.propos_img{
  border-radius: 25px;
  object-fit: cover;
  max-width: 1240px;
  width: 100%;
}
.body_propos{
  @include flex_center
}
.body_propos_collasible{
  width: 90%;
  @include flex_center;
}
@media all and (max-width:768px){
.propos_img{
  min-width: 338px;
  min-height: 225px;
}
}