.banner{
    margin: auto;
    margin-top: 63px;
    height: 223px;
    border-radius: 25px;
    position: relative;
}
.banner_text{
    color: white;
    font-size: 48px;
    position: absolute;
    top:50%;
    left: 25%;
}
