@import 'variables.scss';
a{
    text-decoration: none;
    &:hover{
    text-decoration-line: underline;
    color: $primary-color;
    }
}
.App-header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    width:1240px;
    height:68px
}
.nav{
    width:309px
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
li{
    list-style: none;
    font-size: 24px;
    color: $primary-color;
    text-decoration: none;
}
.logo{
    width: 210px;
    height: 68px;
}

