@import 'variables.scss';
a{
    text-decoration: none;
    &:hover{
    text-decoration-line: underline;
    color: $primary-color;
    }
}
.App-header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    width:1240px;
    height:68px
}

ul{
    display: flex;
    padding: 0;
}
.nav_li{
    list-style: none;
    color: $primary-color;
    text-decoration: none;
    margin-left: 57px;
}
.logo{
    width: 40%;
}

@media all and (max-width:1240px){

.App-header{
    width: 90%;
}
.li{
    margin: 10px;
}

}