@import "variables.scss";
.logement{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.cover{
    overflow: hidden;
    object-fit: cover;
    max-height:415px;
    width: 100%;
}
.bloc{
    display: flex;
    justify-content: space-between;
}
.bloc_description_equipement{
    display: flex;
    align-items: baseline;
}
.wrapper{
    width: 50%;
}
.collapsible{
border-radius: 10px;
}
.toggle{
    border-radius: 10px;
}
.equipement{
    display: flex;
    flex-direction: column;
}
.list{
    margin-left:10px;
    list-style: none;
}

.description{
    margin-left:10px;
}

.bloc_info{
    display: flex;
    flex-direction: column;
}
.tag{
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    padding: 10px;
}
.proprietaire{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.proprietaire_info{
    display: flex;
    justify-content: baseline;
}
.photo_profile{
    margin: 10px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.proprietaire_nom{
    word-wrap: break-word;
    text-align: end;
}
.title_logement{
    font-size: 36px;
}
.location{
    font-size: 24px;
}
@media all and (max-width:768px){
.proprietaire{
    flex-direction: row-reverse;
    justify-content: space-between;
}
.bloc{
    flex-direction: column;
}
.bloc_description_equipement{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 90%;
    margin: 10px;
}
}