.text{
    margin:2%;
}
.propos{
  max-width: 1240px;
  margin: 5%;
}
.propos_img{
  border-radius: 25px;
  object-fit: cover;
  max-width: 1240px;
  width: 100%;
}

.body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
