.section{
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:20px;
    width: 1240px;
    margin: auto;
}
.card{
    width: 340px;
    height: 340px;
    margin: 25px;
    position: relative;
}
.card_img{
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

.title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}